[user]
	email = ${GIT_USER_EMAIL}
	signingkey = ~/.ssh/${MACHINE_USERNAME}.pub
[core]
	editor = code --wait
	excludesfile = ~/.gitignore
	mergeoptions = --no-edit
[alias]
	br = branch
	ch = checkout
	chb = ch -b
	cm = commit --no-edit
	cma = cm --amend
	cmn = cm --no-verify
	cmr = cm --reuse-message=HEAD
	cp = cherry-pick
	dd = add .
	fh = fetch --all --prune
	lg = log --oneline -n 15
	ll = pull
	mg = merge
	ph = push -u
	pha = ph --all
	st = status
	sw = switch
	wa = worktree add
	wl = worktree list
	wr = worktree remove
[push]
	autoSetupRemote = true
	default = current
[pull]
	default = current
[submodule]
	recurse = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
